.chats { 
  margin-left:70px;
} 

a.preview_wrap {
  color:#000;
  &:first-child > .preview {
    background-color: #fceee4;
  }
  
  .preview {
    &:hover {
      background:$gray3;
    }
  }
}